<div class="card login-form" style="height: 300px !important; margin-bottom: 60px;">
    <div class="card-body card-content" style="text-align: center;">
        <img height="60px" width="180px" src="../../../assets/images/2df3c6e3b7dcfda591bf650efe2942d54e8aed0e.png"
            class="card-title text-center">
      <p class="enter">Your Account is not yet verified by DocMachine admin, please login after sometime. <br /> <span style="font-size: 12px; font-weight: 300">If its more than 2 working days write a email to support.docmachine&#64;gmail.com</span></p>
    </div>
</div>
