<div class="main_nave">
  <div class="main_nave_haeders">
    <nav class="navbar-dashboard">
      <div class="container-fluid">
        <!-- .navbar-header contains links seen on xs & sm screens -->
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-7">
            <div class="inline-elements">
              <!-- search form! link it to your search server -->
              <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                style="margin-left: 2%"
              >
                <img class="mlogo" src="../../../assets/new-img/LogoFinal.png" />
              </a>

              <form class="search_box_new_sec" role="search ">
                <div class="form-group">
                  <div class="input-group input-group-no-border">
                    <input
                      class="serch_input"
                      id="main-search "
                      style="justify-content: center; width: 800px"
                      type="text "
                      placeholder="Type to search. . . "
                    />
                  </div>
                </div>
              </form>
              <!-- <div class="pages-links">
                <a *ngIf="!approved" href="/power-admin/approved"> Approved</a>
                <a *ngIf="!pending" href="/power-admin/pending"> Pending</a>
                <a *ngIf="!declined" href="/power-admin/declined"> Declined</a>
              </div> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-5">
            <div class="language_options_right">
              <div class="language_options">
                <select
                  style="cursor: pointer"
                  class="dropdown"
                  name="cars "
                  id="cars "
                >
                  <option value="volvo ">English</option>
                  <option value="saab ">Hindi</option>
                  <option value="opel ">Kannada</option>
                  <option value="audi ">Tamil</option>
                </select>
              </div>
              <div class="notfication">
                <ul>
                  <li>
                    <a
                      routerLink="/second-component "
                      routerLinkActive="active "
                      ><span class="icon">
                        <img
                          src="../../../assets/new-img/header_not1.svg"
                        /> </span
                    ></a>
                  </li>
                  <li>
                    <a
                      routerLink="/second-component "
                      routerLinkActive="active "
                    >
                      <span class="icon"
                        ><img src="../../../assets/new-img/header-user.svg " />
                      </span>
                    </a>
                    <div class="after_login_drop_down">
                      <div class="user_icons_top">
                        <div class="left_user_pic">
                          <img
                            class="manager"
                            src="../../../assets/new-img/user_pice.png"
                            alt=""
                          />
                        </div>
                        <div class="left_user_info">
                          <h5 class="name">{{ name }}</h5>
                          <h6 class="side-name">{{role}}</h6>
                        </div>
                      </div>
                      <ul>
                        <!--<li *ngIf="role !='ca' " style="cursor: pointer " class=" " (click)="newTask14() " [ngClass]="status14 ? 'b-color1' : 'nothing' ">
                                                       an example of nested submenu. basic bootstrap collapse component
                                                      <a class="sidebar-content " [routerLink]="[ '/home/account'] ">
                                                          <span class="account_icon">Account</span>
                                                      </a>
                                                  </li>-->
                        <li>
                          <a
                            routerLink="/second-component "
                            routerLinkActive="active "
                            ><span class="setting_icon">Settings</span></a
                          >
                        </li>
                        <li
                          style="cursor: pointer"
                          class=" "
                          (click)="newTask()"
                          [ngClass]="status ? 'b-color1' : 'nothing'"
                          >
                          <!-- an example of nested submenu. basic bootstrap collapse component -->
                          <a class="sidebar-content" (click)="logout()">
                            <span class="logout_icons"> </span> Log Out
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- this part is hidden for xs screens -->
      </div>
    </nav>
  </div>
</div>

<div style="margin-left: 0px" class="content-wrap">
  <main id="content" class="content table-padding" role="main">
    <div class="analytics">
      <div *ngIf="!showInvoice" style="width: 100%" class="analytics-side">
        <div style="width: 100%" class="row">
          <div
            style="width: 100%; margin: 0 -1.5%"
            *ngIf="!showInvoice"
            class="col-12 mb-lg padding"
          >
            <section
              style="width: 100%; margin-left: 0"
              class="widget pb-0 box-shadow"
            >
              <div
                style="margin: 0 -2%"
                class="widget-body p-0 support table-wrapper"
              >
                <table style="width: 100%" class="table table-striped mb-0">
                  <thead style="width: 100%">
                    <tr class="text-muted table-heading">
                      <th class="rect">
                        <img src="../../../assets/Rectangle-13.png" />
                      </th>
                      <th scope="col"><span class="pl-3">DATE</span></th>
                      <th scope="col">PI/PO No.</th>
                      <th scope="col">Purpose Code</th>
                      <th scope="col">Bank Name</th>
                      <th scope="col" *ngIf="pending || completed">Upload</th>
                    </tr>
                  </thead>
                  <tbody
                    *ngFor="let data of item1; let i = index"
                    class="text-dark"
                  >
                    <tr *ngIf="all" class="table-row">
                      <th class="rect">
                        <img src="../../../assets/Rectangle-13.png" />
                      </th>
                      <th class="pl-4 fw-normal">{{ data.transactionDate }}</th>
                      <td class="sb-no">{{ data.pi_poNo }}</td>
                      <td>
                        {{ data.file }}
                      </td>
                      <td>{{ data.bank }}</td>
                    </tr>
                    <tr
                      *ngIf="pending && data.caDone == 'no'"
                      class="table-row"
                    >
                      <th class="rect" (click)="viewTask(data)">
                        <img src="../../../assets/Rectangle-13.png" />
                      </th>
                      <th class="pl-4 fw-normal" (click)="viewTask(data)">
                        {{ data.transactionDate }}
                      </th>
                      <td class="sb-no" (click)="viewTask(data)">
                        {{ data.pi_poNo }}
                      </td>
                      <td (click)="viewTask(data)">
                        {{ data.file }}
                      </td>
                      <td (click)="viewTask(data)">{{ data.bank }}</td>
                      <td>
                        <form method="POST">
                          <div>
                             <!-- <input class="customfile1" (error)="onUploadError($event)" placeholder="Choose File" (init)="onUploadInit($event)" (success)="onUploadSuccess($event)" (click)="clicked(data)" *ngIf="type === 'directive'" [dropzone]="config"> -->

                            <app-dropzone/>
                             <!--<p class="choose">Choose File</p> -->
                            <!-- <ngx-dropzone (change)="onSelect($event)">
                              <ngx-dropzone-label
                                >Drop your files here!</ngx-dropzone-label
                              >
                              <ngx-dropzone-preview
                                *ngFor="let f of files"
                                [removable]="true"
                                (removed)="onRemove(f)"
                              >
                                <ngx-dropzone-label
                                  >{{ f.name }} ({{
                                    f.type
                                  }})</ngx-dropzone-label
                                >
                              </ngx-dropzone-preview>
                            </ngx-dropzone> -->
                          </div>
                        </form>
                      </td>
                    </tr>

                    <tr
                      *ngIf="completed && data.caDone == 'yes'"
                      class="table-row"
                    >
                      <th class="rect">
                        <img src="../../../assets/Rectangle-13.png" />
                      </th>
                      <th class="pl-4 fw-normal">{{ data.transactionDate }}</th>
                      <td class="sb-no">{{ data.pi_poNo }}</td>
                      <td>
                        {{ data.file }}
                      </td>
                      <td>{{ data.bank }}</td>
                      <td>Done</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
