<div *ngIf="!toggle" class="card login-form" style="height: 300px !important; margin-bottom: 60px;">
    <div class="card-body card-content" style="text-align: center;">
        <img height="60px" width="180px" src="../../../assets/images/2df3c6e3b7dcfda591bf650efe2942d54e8aed0e.png"
            class="card-title text-center">
        <p class="enter">Click here to Verify your account</p>
        <button (click)="onSubmit()" class="button">Verify</button>
    </div>
</div>

<div *ngIf="toggle" class="card login-form" style="margin-bottom: 60px !important;">
    <div class="card-body card-content" style="text-align: center;">
        <img height="60px" width="180px" src="../../../assets/images/2df3c6e3b7dcfda591bf650efe2942d54e8aed0e.png"
            class="card-title text-center"> <br>
        <img height="65px" width="65px" src="../../../assets/Checkmark.png">
        <p class="success">EmailId verified successfully!</p>


        <div style="text-align: center;">
            <button class="button1" [routerLink]="['/']">Login</button>
        </div>
    </div>
</div>